@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

strong {
    text-align: center;
}

html {
	font-family: 'Poppins', system-ui;
}

body {
	background-color: #efefef;
}

.bottom-content {
    margin-top: 60px;
    font-size: 30px;
}

.title-desc {
    font-size: 30px;
}

.img-content {
    width: 750px;
}

.flex-container {
	display:flex;
	justify-content: center;
	align-items: center;
    min-height: 400px
  }

  .row {
	display:flex;
	justify-content: center;
	align-items: center;
}

.col-66 {
	width: 60%;
}

.col-34{
	width: 34%;
}

.col-20 {
	width: 20%;
}

.col-100{
	width: 100%;
}

.content {
	min-width: 300px;
	min-height: 200px;
  }

.logo{
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.main-intro {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
  
.bg {
    background-image: url("../../img/jumbo.png");
    background-size: cover;
    padding-top: 80px;
}

.main-desc {
    color: white;
    text-align: center;
}
      
.header {
	padding: 12px 80px;
    background-color: #245EE8;
    color: white;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-title {
    color: #245EE8;
    text-align: center;
}

.menu {
	display: flex;
	gap: 20px;
}

.button-login {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    border-radius: 999px;
    width: 60px;
    height: 30px;
    background-color: white;
    color: black;
}





/* Debug */
.pink {
    background-color: pink;
}

.grey {
    background-color: rgb(218, 218, 218);
}

.blue{
    background-color: blue;
}

.green {
	background-color: green;
}

.white {
	background-color: white;
}

.lightblue {
	background-color: aqua;
}

.darkcyan{
	background-color: darkcyan;
}

.minheight {
	height: 400px;
}

.sizefooter{
	min-width: 100px;
}
